@{
    User user = new User();
    UserLogin userLogin = new UserLogin();
}
<h1 class="text-center text-muted">Hobby Hub!</h1>
<div class="row d-flex justify-content-between">
    <div class="col-md-5">
          <partial name="_Register" model=@user />       
    </div>
    
    <div class="col-md-5">
        <partial name="_Login" model="@userLogin"/>
    </div>
</div>